@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 60px;
  line-height: 73px;
  font-weight: 500;
  color: #1d1d1f;
}

p {
  color: #1d1d1f;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 0;
}

img {
  width: 100%;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header part */
.full-bg {
  background: #f3fcf7;
  padding: 30px 0 30px 0;
}
.logo {
  max-width: 120px;
}

.header-nav .navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.header-nav nav ul li a {
  color: #1d1d1f;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.header-nav nav ul li a:hover {
  color: #06c167;
}

.header-nav nav ul li a.active {
  color: #06c167;
}

.full-btn {
  background: #06c167;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 30px;
}

.full-btn:hover {
  color: #06c167;
}

/* banner section */

.banner-section {
  background: #f3fcf7;
  padding: 74px 0 131px 0;
}

.banner-title h2 {
  font-size: 80px;
  line-height: 91px;
  font-weight: 600;
}

.banner-details p {
  color: rgba(29, 29, 31, 0.75);
  max-width: 533px;
  margin-bottom: 30px;
}

.banner-img {
  width: 468px;
  position: relative;
}

.banner-img img {
  border-radius: 10px;
  position: absolute;
}

.banner-img img.pattern {
  width: 174px;
  height: 174px;
  top: 494px;
  right: 0;
}

/* brand section */
.brand {
  padding: 46px 0;
}

.brand-logo {
  width: 80%;
}

/* Promo Section */
.promo {
  padding: 150px 0 75px 0;
}

.promo-single {
  display: flex;
  align-items: center;
}

.promo-icon {
  height: 70px;
  width: 70px;
  background: #f3fcf7;
  border-radius: 10px;
  line-height: 70px;
  text-align: center;
}

.promo-icon i {
  color: #06c167;
  font-size: 30px;
  line-height: 70px;
}

.promo-info {
  margin-left: 22px;
}

.promo-info h4 {
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f;
  line-height: 21.78px;
  margin-bottom: 7px;
}

.promo-info p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  opacity: 75%;
}

.promo-details {
  padding: 57.5px 0;
  border-top: 1.5px solid #70707030;
  border-bottom: 1.5px solid #70707030;
}

/* benefit section */
.benefit-img {
  width: 541px;
  height: 608px;
  margin-bottom: 183px;
  margin-top: 120px;
}

.benefit-details {
  margin-top: 221px;
}

.benefit-tag {
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}

.benefit-title {
  margin-bottom: 30px;
}

img.check-mark {
  width: 26px;
  height: 19.39px;
  margin-right: 10px;
}

.benefit-img img.benefit-pattern {
  width: 175px;
  height: 175px;
  position: absolute;
  margin-top: 142px;
  margin-left: 29px;
  z-index: -1;
}

/* star section */

.feat-area1 {
  display: flex;
  align-items: center;
}

.star-details {
  margin-top: 260px;
  margin-right: 100px;
}

.star-tag h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}

.star-title h2 {
  margin-bottom: 55px;
}

h2.price {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #06c167;
}

.details-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

p.price-details {
  color: #1d1d1f;
  opacity: 65%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

a.btn.full-btn.details {
  margin-bottom: 276px;
  padding: 30px;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
}

img.details-pattern {
  width: 175px;
  height: 175px;
  position: absolute;
  margin-top: 30px;
  margin-left: -70px;
  z-index: -1;
}

/* feature section */

.feature {
  margin-bottom: 70px;
}

.feature h2 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.feature h6 {
  font-family: Inter;
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
}

.feature-section {
  display: flex;
  align-items: center;
}

h3.title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 37px;
  margin-left: 37px;
}

p.description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 25px;
  margin-left: 37px;
}

a.btn.full-btn.feature {
  width: 190px;
  height: 50px;
  background-color: #e6f9f0;
  margin-left: 37px;
  margin-top: 38px;
  color: #06c167;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.feature-section .details {
  background: #f3fcf7;
  border-style: solid;
}

.feature-section p.description {
  border-style: none;
}

.feature-section .details {
  background: #f3fcf7;
  border-style: solid;
  height: 295px;
  width: 295px;
  border-color: #06c167;
  border-width: 1.5px;
}

.feat-area {
  display: flex;
}

/* full-banner */

.image-banner {
  width: 1279px;
  height: 559px;
  margin-top: 193px;
  margin-bottom: 60px;
  position: relative;
}

.image-banner .text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h2 {
  color: white;
  font-family: Inter;
  font-size: 49px;
  font-weight: 600;
  line-height: 73px;
}

.image-banner .full-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* footer section */
.footer-wedget p {
  max-width: 284px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.social-icon {
  margin-left: -9px;
}

.social-icon a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
}

.social-icon a i {
  color: #1d1d1f;
  font-size: 18px;
}

.footer-wedget h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #1d1d1f;
  margin-bottom: 40px;
}

.footer-wedget ul li {
  list-style: none;
}

.footer-wedget ul li a {
  text-decoration: none;
  color: #1d1d1f;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
  padding: 8px 0;
}

.newsletter input[type="email"] {
  width: 66%;
  height: 50px;
  padding: 12px;
  background: #f0f1ec;
  border: none;
}

.newsletter input[type="submit"] {
  width: 30%;
  padding: 13px 0;
  height: 50px;
  background: #06c167;
  border: none;
  color: white;
  font-weight: 500;
  line-height: 17px;
  font-size: 14px;
}

.copy-right {
  padding-top: 96px;
  padding-bottom: 36px;
}
